.scboarder {
    border: solid 2px #423947;
}

hr {
    border: #423947 solid;
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: auto;
    margin-top: 20px;
}


.ulPoints {
border: #423947 2px solid;
    padding: 50px;
    list-style-type: square;
}

.liPoints {
    margin-left: 10px;
    margin-right: 10px;
padding: 20px;
  color: #423947;
  margin: 10px;  
}

.forth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: auto;
    margin-top: 20px;
}

