.scboarder {
    border: solid 2px #423947;
}

hr {
    border: #423947 solid;
}

.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: auto;
    margin-top: 20px;
}


.ulPoints {
    background:#423947;
    padding: 20px;
    list-style-type: square;
}

.liPoints {

  color: #cce5ff;
  margin: 10px;  
}
