.htmlnotes {
    font-family: reenie-beanie, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
    
}

hr {
  border: #423947 solid;
}

.fontmidsize {
font-size: 36px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 700;
color:#edf5f3;
}



header{
    text-align: center;
    padding-top: 20px;
}
.boxBackground {
  background-color: #fcba03;
  padding: 10px 20px 15px 20px;
  margin: 10px;
  border: solid #423947 10px;
  height: auto;
}

.fontsizeBig {
    font-size: 50px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.liNav {
    display: inline-block;
    padding: 10px 15px;
}

.liNav a {
    color: #edf5f3;
    text-decoration: none;
}

#footerul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-style: center;
  overflow: hidden;
background-color: #3e827c;
color: #edf5f3;
}



#footeril {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px ;
}


.liNav a:hover {
    background-color: #edf5f3;
    color:#423947;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    height: auto;
    margin-top: 20px;
  }
  
#active {
    background-color: white;
    color:#3e827c;
    padding: 5px;
}



  button {
    background-color: #3e827c; 
    border: solid 2px black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }

button:hover{
    background-color: #edf5f3;
    border: #3e827c 4px dashed;
    color:#3e827c
}


  .boxblue {
      padding: 10px 20px 15px 20px;
      margin: 10px;
      border: solid #423947 10px;
      
      height: auto;
    
      
  }
.ulNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-style: center;
    font-size: 30px;
    overflow: hidden;
  background-color: #3e827c;
  color: #edf5f3;
}
  

  nav {
 
  }

  body {
      background-color: #edf5f3;
      font-family: Arial, Helvetica, sans-serif;
      color: #33322e;
  }

  main {
    padding: 5px 5px 5px 5px;
  }

  footer {
      height: 200px;
      width: 100%;
      background-color: #3e827c;
      margin-top: 20px;
color:#edf5f3;
  }

  #top {
      padding-top: 25px;

  }

  .iconStyle {
    color: white ;
padding-top: 25px;
margin: 20px;
  
  }

.footText {
  padding-right: 3px;
}

  .footerBar {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
    grid-gap: 5px;
    height: auto;
    margin-top: 20px;
  }